/* ************************ */
/* Font Import              */
/* ************************ */

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

.screen__text--font--monospace {
  font-family: "Courier Prime", monospace;
}

/* ************************ */
/* Grid Setup               */
/* ************************ */

.screen {
  box-sizing: border-box;
  grid-template-areas:
    "win win"
    "adm mss"
    "sbt wep"
    "tut bat"
    "btm btm";
}

/* row 1 */
.screen__grid-window {
  grid-area: win;
}

/* row 2, col 1 */
.screen__grid-admiral {
  grid-area: adm;
}

/* row 2, col 2 */
.screen__grid-mission {
  grid-area: mss;
}

/* row 3, col 1 */
.screen__grid-subtitles {
  grid-area: sbt;
}

/* row 3, col 2 */
.screen__grid-weapons {
  grid-area: wep;
}

/* row 4, col 1 */
.screen__grid-tutorial {
  grid-area: tut;
}

/* row 4, col 2 */
.screen__grid-battle {
  grid-area: bat;
}

/* row 5 */
.screen__grid-bottom {
  grid-area: btm;
}

/* ****************************** */
/* Screen Subscreen               */
/* ****************************** */

.screen__subscreen {
  box-sizing: border-box;
  border: 1px solid var(--color-gray-light);
}

.subscreen__grid-window {
  height: 25vh;
  width: 100vw;
}

.subscreen__personnel {
  height: 25vh;
  width: 50vw;
  background-image: url("../../resources/images/pew_pew_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.subscreen__mission {
  height: 25vh;
  width: 50vw;
  padding: 5%;
}

.subscreen__subtitles {
  height: 25vh;
  width: 50vw;
  padding: 5%;
}

.screen__weapons {
  height: 25vh;
  width: 50vw;
}

.subscreen__tutorial {
  height: 10vh;
  width: 50vw;
}

.subscreen__start-battle {
  height: 10vh;
  width: 50vw;
}

.subscreen__bottom {
  background-color: blue;
  height: 15vh;
  width: 100vw;
}

/* Tablet, aiming at 56w-100h ratio */
@media screen and (min-width: 400px) {
  .screen__subscreen--size--half {
    max-width: 285px;
  }
  .screen__subscreen--size--full {
    max-width: 570px;
  }
  .button--width--half {
    max-width: 171px;
  }
}

/* Laptop and Desktop, aiming at 56w-100h ratio */
@media screen and (min-width: 768px) {
  .screen__subscreen--size--half {
    max-width: 384px;
  }
  .screen__subscreen--size--full {
    max-width: 768px;
  }
  .button {
    max-width: 230px;
  }
}

/* ************************ */
/* Images                   */
/* ************************ */

.image {
  height: 100%;
  width: 100%;
}

/* ************************************** */
/* Button CSS                             */
/* ************************************** */

.button--margin-5 {
  margin: 5%;
}
