.screen {
  height: 100vh;
  width: 100vw;
}

.screen--display--flexCol-space {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.screen__flex-item--flexRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
}

.screen__text--decoration--underline {
  text-decoration: underline;
}

.screen__text--weight--bold {
  font-weight: bold;
}

.link {
  color: var(--color-gray-light);
}
