/* ************************ */
/* Flexbox Spacing          */
/* ************************ */

.screen-credits--display--justifySpaceAround {
  justify-content: space-around;
  width: 100%;
}

.screen-credits__image-gameover {
  height: 30%;
  width: 50%;
}

.screen__text--decoration--underline {
  text-decoration: underline;
}

.screen__text--weight--bold {
  font-weight: bold;
}

.social-media-link {
  color: var(--color-gray-light);
}

/* ************************ */
/* Bottom Div               */
/* ************************ */

.screen-credits__bottom {
  height: 15vh;
}
