/* ************************ */
/* Screen Text              */
/* ************************ */

.screen__text {
  margin-bottom: 2.5rem;
}

.screen__text--size--large {
  font-size: 2rem;
}

.screen__text--opacity--none {
  opacity: 0;
}

.screen__text--opacity--show {
  opacity: 1;
  transition: opacity 2s ease;
}

/* ************************ */
/* Button                   */
/* ************************ */

.button--opacity--none {
  opacity: 0;
}

.button--opacity--show {
  opacity: 1;
  transition: opacity 2s ease;
}
