/* ************************ */
/* Screen Text Modifiers    */
/* ************************ */

.screen__text--marginbottom-medium {
  margin-bottom: 2.5rem;
}

.screen__text--opacity--none {
  opacity: 0;
}

.screen__text--opacity--show {
  opacity: 1;
  transition: opacity 2s ease;
}

/* ************************ */
/* button           */
/* ************************ */

.button--opacity--none {
  opacity: 0;
}

.button--opacity--show {
  opacity: 1;
  transition: opacity 2s ease;
}

.button--width--auto {
 width: auto;
}
