/* ************************ */
/* Grid Setup               */
/* ************************ */

.screen-battle {
  grid-template-areas:
    "btl btl btl"
    "stt stt stt"
    "tmr nrg wep"
    "btm btm btm";
}

.screen-battle--grid--battlefield {
  grid-area: btl; /* row 1 */
}

.screen-battle--grid--shot-status {
  grid-area: stt; /* row 2 */
}

.screen-battle--grid--timer {
  grid-area: tmr; /* row 3, col 1 */
}

.screen-battle--grid--energy {
  grid-area: nrg; /* row 3, col 2 */
}

.screen-battle--grid--weapon {
  grid-area: wep; /* row 3, col 3 */
}

.screen-battle--grid--bottom {
  grid-area: btm; /* row 4 */
}

/* ****************************** */
/* Screen Subscreen               */
/* ****************************** */

.screen-battle__subscreen {
  box-sizing: border-box;
  border: 2px solid var(--color-gray-light);
}

/* ****************************** */
/* Battlefield and Cells          */
/* ****************************** */

.screen-battle__battlefield {
  height: 100%;
  width: 100%;
}

.battlefield {
  border-collapse: collapse; /* table */
  max-height: calc(7 * 45px);
  max-width: calc(7 * 45px);
}

.screen-battle__cell {
  border: 1px solid var(--color-green); /* td */
  height: 45px;
  width: 45px;
}

.screen-battle__cell:hover {
  background-color: rgba(83, 255, 83, 0.1);
}

.screen-battle__cell:active {
  background-color: rgba(83, 255, 83, 0.3);
}

/* *************************************** */
/* Media Queries                           */
/* Cells are either 45, 60, 80, or 100 px  */
/* *************************************** */

@media screen and (min-width: 400px) {
  .battlefield {
    max-height: calc(7 * 60px);
    max-width: calc(7 * 60px);
  }
  .screen-battle__cell {
    height: 60px;
    width: 60px;
  }
}

@media screen and (min-width: 768px) {
  .battlefield {
    max-height: calc(7 * 80px);
    max-width: calc(7 * 80px);
  }
  .screen-battle__cell {
    height: 80px;
    width: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .battlefield {
    max-height: calc(7 * 100px);
    max-width: calc(7 * 100px);
  }
  .screen-battle__cell {
    height: 100px;
    width: 100px;
  }
}

/* ****************************** */
/* User Controls                  */
/* ****************************** */

.screen-battle__shot-status {
  height: 100%;
  width: 100%;
  background-color: black;
}

.screen-battle__timer {
  height: 100%;
  width: 100%;
  max-height: 10vh;
  background-color: black;
}

.screen-battle__energy {
  height: 100%;
  width: 100%;
  max-height: 10vh;
  background-color: black;
}

.screen-battle__weapon {
  height: 100%;
  width: 100%;
  max-height: 10vh;
  background-color: black;
}

/* ****************************** */
/* Firing Animations              */
/* ****************************** */

/* *************** Standard Laser *************** */

.standard-laser {
  height: 10px;
  width: 10px;
  background-color: white;
  border-color: yellow;
  border-style: ridge;
  border-width: 1px;
  border-radius: 50%;
  margin: auto;
  animation-duration: 1s;
  animation-name: fireStandardLaser;
}

@keyframes fireStandardLaser {
  0% {
    transform: scale(1) rotate(0deg);
  }
  5% {
    transform: scale(3) rotate(900deg);
  }
  20% {
    transform: scale(0.01) rotate(3600deg);
  }
  100% {
    transform: scale(0) rotate(0);
  }
}

/* *************** RADAR *************** */

.radar {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border-color: greenyellow;
  border-style: solid;
  border-width: 0.01px;
  border-radius: 50%;
  margin: auto;
  animation-duration: 0.34s;
  animation-name: fireRadar;
  animation-iteration-count: 3;
  opacity: 0.4;
}

@keyframes fireRadar {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(50);
  }
}

/* *************** EMP *************** */

.emp {
  height: 40px;
  width: 40px;
  background-color: lightblue;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  margin: auto;
  animation-duration: 0.1s;
  animation-iteration-count: 10;
  animation-name: fireEMP;
  opacity: 0.1;
}

@keyframes fireEMP {
  0% {
    transform: scale(1) rotate3d(1, 1, 1, 0deg);
  }
  100% {
    transform: scale(33) rotate3d(1, 1, 1, 720deg);
  }
}

/* *************** PAUL NUKE *************** */

.paul {
  height: 40px;
  width: 40px;
  background-color: darkred;
  border-color: red;
  border-style: dashed;
  border-width: 3px;
  border-radius: 50%;
  margin: auto;
  animation-duration: 1s;
  animation-name: firePAUL;
}

@keyframes firePAUL {
  0% {
    transform: scale(1) rotate(360deg) rotate3d(1, 1, 1, 0deg);
  }
  20% {
    transform: scale(1.2) rotate(720deg) rotate3d(1, 1, 1, 360deg);
  }
  99% {
    transform: scale(0.2) rotate(1440deg) rotate3d(1, 1, 1, 720deg);
  }
  100% {
    transform: scale(2) rotate(1440deg);
  }
}

/* ****************************** */
/* Bottom Div                     */
/* ****************************** */

.screen-battle__bottom {
  height: 25vh;
  width: 100%;
  background-color: var(--color-gray-dark);
}
