/* **************************************** */
/* ******** APPLICATION WIDE CSS ********** */
/* **************************************** */

/* ********************************************** */
/* Imported Fonts                                 */
/* Noto Sans JP is the default font for the game  */
/* ********************************************** */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

/* ******************************** */
/* Preferred Box Model as Default   */
/* ******************************** */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --color-green: #53ff53;
  --color-black: #000000;
  --color-gray-dark: #222121;
  --color-gray: #788585;
  --color-gray-light: #9caea9;
  --color-red-dark: #770000;
  --color-red-light: #ff4b4b;
}

body {
  background-color: black;
}

/* ************************ */
/* Screen CSS               */
/* ************************ */

.screen {
  background-color: transparent;
  color: var(--color-green);
  margin: auto;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.screen--display--flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.screen--display--flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.screen--display--grid {
  display: grid;
}

.screen--display--block {
  display: block;
}

.screen--display--none {
  display: none;
}

.screen--opacity--hide {
  opacity: 0;
}

.screen--opacity--show {
  opacity: 1;
}

/* ******************************** */
/* Screen Media Queries             */
/* Limit screen to 570px and 768px  */
/* ******************************** */

/* Tablet, screen is 570px max */
@media screen and (min-width: 400px) {
  .screen {
    max-width: 570px;
  }
}

/* Laptop and Desktop, screen is 768px max */
@media screen and (min-width: 768px) {
  .screen {
    max-width: 768px;
  }
}

/* ************************ */
/* Screen Text              */
/* ************************ */

.screen__text {
  font-family: "Noto Sans JP", sans-serif;
  padding: 0.25rem;
  letter-spacing: 0.2rem;
}

.screen__text--size--extra-large {
  font-size: 2rem;
}

.screen__text--size--large {
  font-size: 1.5rem;
}

.screen__text--size--medium {
  font-size: 1rem;
}

.screen__text--size--small {
  font-size: 0.75rem;
}

.screen__text--size--extra-small {
  font-size: 0.5rem;
}

.screen__text--monospace-size--small {
  font-size: 0.8rem;
}

/* *************************************** */
/* Button CSS                              */
/* The <a> links are styled as buttons     */
/* The <select> are also styled as buttons */
/* *************************************** */

/* ************ Button Colors ************ */

.button {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  outline: none;
}

.button:hover {
  border: 2px white ridge;
}

.button:active {
  transform: scale(0.98);
}

.button--color--default {
  background-color: var(--color-gray-dark);
  color: var(--color-green);
  border: 2px var(--color-green) solid;
}

.button--color--default-selected {
  background-color: var(--color-green);
  color: var(--color-gray-dark);
  border: 2px var(--color-gray-dark) solid;
}

.button--color--lightgrayblack {
  background-color: var(--color-gray-light);
  color: var(--color-black);
  border: 2px var(--color-black) solid;
}

.button--color--disabled {
  background-color: var(--color-gray-light);
  color: gray;
  border: 2px gray solid;
}

.button--color--red {
  background-color: var(--color-red-dark);
  color: var(--color-red-light);
  border: 2px var(--color-red-light) solid;
}

/* ********** Button Text Size ********** */

.button__text--size--extra-large {
  padding: 5px;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

.button__text--size--large {
  padding: 4px;
  font-size: 1rem;
  letter-spacing: 0.03rem;
}

.button__text--size--medium {
  padding: 3px;
  font-size: 0.9rem;
  letter-spacing: 0.03rem;
}

.button__text--size--small {
  padding: 2px;
  font-size: 0.8rem;
  letter-spacing: 0.01rem;
}

.button__text--size--extra-small {
  padding: 2px;
  font-size: 0.5rem;
  letter-spacing: 0.01rem;
}

/* ************ Button Width ************ */

.button--width--96 {
  width: 96%;
}

.button--width--84 {
  width: 84%;
}

.button--width--72 {
  width: 72%;
}

.button--width--60 {
  width: 60%;
}

.button--width--48 {
  width: 48%;
}

.button--width--36 {
  width: 36%;
}

/* ************************** */
/* Version                    */
/* ************************** */

#version {
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
}
