/* ************************ */
/* Screen Text Modifiers    */
/* ************************ */

.screen__text--marginbottom-medium {
  margin-bottom: 2.5rem;
}

.screen__text--opacity--none {
  opacity: 0;
}

.screen__text--opacity--show {
  opacity: 1;
  transition: opacity 2s ease;
}

/* ************************ */
/* Button                   */
/* ************************ */

.button--opacity--none {
  opacity: 0;
}

.button--opacity--show {
  opacity: 1;
  transition: opacity 2s ease;
}

/* ************************ */
/* Select                   */
/* Overriding the Scale     */
/* ************************ */

#SELECT_LANGUAGE:hover {
  transform: scale(1);
}

/* ************************ */
/* Bottom Div               */
/* ************************ */

.screen-intro__bottom {
  height: 20vh;
}
