/* ************************ */
/* PEWPEW Image             */
/* ************************ */

.screen__image-pewpew {
  height: 50%;
  width: 75%;
}

/* ************************ */
/* Progress Bar             */
/* ************************ */

.screen__progress-bar {
  border: none;
  background-color: black;
  color: var(--color-green);
}

/* ************************ */
/* Bottom Div               */
/* ************************ */

.screen-landing__bottom {
  height: 20vh;
}
