/* ************************ */
/* Progress Bar             */
/* ************************ */

.progress-bar {
  border: none;
  background-color: black;
  color: var(--color-green);
}

.progress-bar::-webkit-progress-bar-value {
  background-color: black;
}

.progress-bar::-moz-progress-bar {
  background-color: black;
}

.progress-bar::-webkit-progress-bar-value {
  background-color: black;
}

.progress-bar::-webkit-progress-bar {
  background-color: black;
}

/* ************************ */
/* Select Drop-Down         */
/* ************************ */

.screen__select {
  background-color: var(--color-gray-dark);
  color: var(--color-green);
  text-decoration: none;
  cursor: pointer;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}

.screen__select--size--extra--large {
  border: 2px var(--color-green) solid;
  padding: 7px;
  width: 80%;
  font-size: 0.9rem;
  letter-spacing: 0.09rem;
}

.screen__select--size--large {
  border: 2px var(--color-green) solid;
  padding: 6px;
  width: 60%;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
}

.screen__select--size--medium {
  border: 1.5px var(--color-green) solid;
  padding: 5px;
  width: 45%;
  font-size: 0.7rem;
  letter-spacing: 0.07rem;
}

.screen__select--size--small {
  border: 1px var(--color-green) solid;
  padding: 4px;
  width: 30%;
  font-size: 0.6rem;
  letter-spacing: 0.06rem;
}

.screen__select--size---extra-small {
  border: 1px var(--color-green) solid;
  padding: 3px;
  width: 15%;
  font-size: 0.5rem;
  letter-spacing: 0.05rem;
}
