/* ************************ */
/* Imported Fonts           */
/* ************************ */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

/* ******************************** */
/* Preferred Box Model as Default   */
/* ******************************** */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --color-green: #53ff53;
  --color-black: #000000;
  --color-gray-dark: #383535;
  --color-gray: #788585;
  --color-gray-light: #9caea9;
  --color-red-dark: #770000;
  --color-red-light: #ff4b4b;
}

body {
  background-color: gray; /* temporary, for testing */
}

/* ************************ */
/* Screen CSS               */
/* ************************ */

.screen {
  background-color: darkred; /* temporary, for testing */
  color: var(--color-green);
  margin: auto;
  height: 100vh;
  width: 100vw;
}

/* Tablet, aiming at 56w-100h ratio */
@media screen and (min-width: 400px) {
  .screen {
    max-width: 570px;
  }
}

/* Laptop and Desktop, aiming at 56w-100h ratio */
@media screen and (min-width: 768px) {
  .screen {
    max-width: 768px;
  }
}

.screen--display--flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.screen--display--flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.screen--display--grid {
  display: grid;
}

.screen--display--none {
  display: none;
}

/* ************************ */
/* Screen Text              */
/* ************************ */

.screen__text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  padding: 0.25rem;
  letter-spacing: 0.2rem;
}

.screen__text--size--extra-large {
  font-size: 2rem;
}

.screen__text--size--large {
  font-size: 1.5rem;
}

.screen__text--size--medium {
  font-size: 1rem;
}

.screen__text--size--small {
  font-size: 0.75rem;
}

.screen__text--size--extra-small {
  font-size: 0.5rem;
}

/* ************************************** */
/* button CSS                             */
/* Some <a> links are styled as buttons   */
/* ************************************** */

.button {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.button--color--default {
  background-color: var(--color-gray-dark);
  color: var(--color-green);
}

.button--color--lightgrayblack {
  background-color: var(--color-gray-light);
  color: var(--color-black);
}

.button--color--red {
  background-color: var(--color-red-dark);
  color: var(--color-red-light);
}

.button--color--red-inverse {
  background-color: var(--color-red-light);
  color: var(--color-red-dark);
}

.button__text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.button--size--extra-large {
  border: 2px var(--color-green) solid;
  padding: 7px;
  width: 75vw;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.button--size--large {
  border: 2px var(--color-green) solid;
  padding: 6px;
  width: 60vw;
  font-size: 0.9rem;
  letter-spacing: 0.09rem;
}

.button--size--medium {
  border: 1.5px var(--color-green) solid;
  padding: 5px;
  width: 45vw;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
}

.button--size--small {
  border: 1px var(--color-green) solid;
  padding: 4px;
  width: 30vw;
  font-size: 0.7rem;
  letter-spacing: 0.07rem;
}

.button--size---extra-small {
  border: 1px var(--color-green) solid;
  padding: 3px;
  width: 15vw;
  font-size: 0.6rem;
  letter-spacing: 0.06rem;
}

/* Tablet, aiming at at 60% max width */
@media screen and (min-width: 400px) {
  .button {
    max-width: 342px;
  }
}

/* Laptop and Desktop, aiming at at 60% max width */
@media screen and (min-width: 768px) {
  .button {
    max-width: 461px;
  }
}