/* ************************ */
/* Imported Fonts           */
/* ************************ */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

/* ******************************** */
/* Preferred Box Model as Default   */
/* ******************************** */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --color-green: #53ff53;
  --color-black: #000000;
  --color-gray-dark: #383535;
  --color-gray: #788585;
  --color-gray-light: #9caea9;
  --color-dark-red: #770000;
}

body {
  background-color: gray; /* temporary, for testing */
}

/* ************************ */
/* Screen CSS               */
/* ************************ */

.screen {
  background-color: darkred; /* temporary, for testing */
  color: var(--color-green);

  margin: auto;
  padding: 0.25rem;

  height: 100vh;
  width: 100vw;

  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

/* Tablet, aiming at 56w-100h ratio */
@media screen and (min-width: 400px) {
  .screen {
    padding: 0.5rem;
    max-width: 570px;
  }
}

/* Laptop, aiming at 56w-100h ratio */
@media screen and (min-width: 768px) {
  .screen {
    padding: 0.75rem;
    max-width: 768px;
  }
}

/* Desktop, aiming at 56w-100h ratio */
@media screen and (min-width: 1366px) {
  .screen {
    padding: 1rem;
    max-width: 1075px;
  }
}

.screen--display--flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.screen--display--flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.screen--display--grid {
  display: grid;
}

.screen--display--none {
  display: none;
}

/* ************************ */
/* Button CSS               */
/* ************************ */

.button {
  background-color: var(--color-gray-dark);
  color: var(--color-green);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.button--size--extra-large {
  border: 2px var(--color-green) solid;
  padding: 7px;
  width: 80%;
  font-size: 0.9rem;
  letter-spacing: 0.09rem;
}

.button--size--large {
  border: 2px var(--color-green) solid;
  padding: 6px;
  width: 60%;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
}

.button--size--medium {
  border: 1.5px var(--color-green) solid;
  padding: 5px;
  width: 45%;
  font-size: 0.7rem;
  letter-spacing: 0.07rem;
}

.button--size--small {
  border: 1px var(--color-green) solid;
  padding: 4px;
  width: 30%;
  font-size: 0.6rem;
  letter-spacing: 0.06rem;
}

.button--size---extra-small {
  border: 1px var(--color-green) solid;
  padding: 3px;
  width: 15%;
  font-size: 0.5rem;
  letter-spacing: 0.05rem;
}
