/* ************************ */
/* Grid Setup               */
/* ************************ */

.screen-tutorial {
  grid-template-areas:
    "ply win lse"
    "wep oth mnu"
    "txt txt txt"
    "btm btm btm";
}

.screen-tutorial--grid--play {
  grid-area: ply; /* row 1, col 1 */
}

.screen-tutorial--grid--win {
  grid-area: win; /* row 1, col 2 */
}

.screen--gridname--lose {
  grid-area: lse; /* row 1, col 3 */
}

.screen-tutorial--grid--weapons {
  grid-area: wep; /* row 2, col 1 */
}

.screen-tutorial--grid--other {
  grid-area: oth; /* row 2, col 2 */
}

.screen-tutorial--grid--menu {
  grid-area: mnu; /* row 2, col 3 */
}

.screen-tutorial--grid--text {
  grid-area: txt; /* row 3 */
}

.screen-tutorial--grid--bottom {
  grid-area: btm; /* row 4 */
}

/* ************************ */
/* Subscreen CSS            */
/* ************************ */

.screen-tutorial__subscreen-play {
  height: 10vh;
  width: 100%;
  border: 2px solid yellow;
}

.screen-tutorial__subscreen-win {
  height: 10vh;
  width: 100%;
  border: 2px solid yellow;
}

.screen-tutorial__subscreen-lose {
  height: 10vh;
  width: 100%;
  border: 2px solid yellow;
}

.screen-tutorial__subscreen-weapons {
  height: 10vh;
  width: 100%;
  border: 2px solid yellow;
}

.screen-tutorial__subscreen-other {
  height: 10vh;
  width: 100%;
  border: 2px solid yellow;
}

.screen-tutorial__subscreen-menu {
  height: 10vh;
  width: 100%;
  border: 2px solid yellow;
}

.screen-tutorial__subscreen-tutorial-text {
  height: 70vh;
  width: 100%;
  padding: 5%;
  border: 2px solid yellow;
}

/* ************************ */
/* Botton Div               */
/* ************************ */

.screen-tutorial__subscreen-bottom {
  background-color: blue;
  height: 10vh;
  width: 100%;
  border: 2px solid yellow;
}
